body {
    background-color: rgb(53, 53, 53);
}

.div {
    padding-top: 200px;
    text-align: center;
}

.bruh {
    background-color: rgb(50, 50, 50);
    height: 50px;
    width: 500px;
    color: whitesmoke;
    font-size: 25px;
}


.bruh:hover {
    background-color: rgb(50, 50, 50);
    color: white;
    transition: 0.5s;
    -webkit-transform: scale(1.3);
    -ms-transform: scale(1.3);
    transform: scale(1.3);
}